In [2]:
import pandas as pd
from uszipcode import SearchEngine
from tqdm import tqdm

/usr/local/Cellar/jupyterlab/3.2.5/libexec/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
data = pd.read_csv('UberGeo.txt')

/usr/local/Cellar/jupyterlab/3.2.5/libexec/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [26]:
data

          zipcode census_blocks city     county
0           90604          3014               0
1           94305          1012               1
2           91335          2009               2
3           95051          2006               3
4           94107          2018               4
...           ...           ...  ...        ...
157167686   90012          1001       157167686
157167687   90048          2007       157167687
157167688   94133          2007       157167688
157167689   94704          2007       157167689
157167690   90034          2010       157167690

[157167691 rows x 4 columns]

In [27]:
data['city'] = ''
data['county'] = ''
data['population'] = ''
data['population_density'] = ''
data['median_household_income'] = ''

In [28]:
data

,zipcode,census_blocks,city,county,population,population_density,median_household_income
0,90604,3014,,,,,
1,94305,1012,,,,,
2,91335,2009,,,,,
3,95051,2006,,,,,
4,94107,2018,,,,,
...,...,...,...,...,...,...,...
157167686,90012,1001,,,,,
157167687,90048,2007,,,,,
157167688,94133,2007,,,,,
157167689,94704,2007,,,,,
157167690,90034,2010,,,,,

In [29]:
engine = SearchEngine()

In [30]:
city = []
county = []
population = []
population_density = []
median_household_income = []

In [25]:
engine.by_zipcode(data['zipcode'][1])

SimpleZipcode(zipcode='94305', zipcode_type='STANDARD', major_city='Stanford', post_office_city='Stanford, CA', common_city_list=['Stanford', 'Palo Alto'], county='Santa Clara County', state='CA', lat=37.41, lng=-122.17, timezone='America/Los_Angeles', radius_in_miles=2.0, area_code_list='650', population=13862, population_density=2703.0, land_area_in_sqmi=5.13, water_area_in_sqmi=0.05, housing_units=4020, occupied_housing_units=3933, median_home_value=1000001, median_household_income=64697, bounds_west=-122.194331, bounds_east=-122.14924, bounds_north=37.44363, bounds_south=37.392201)

In [31]:
for i in tqdm(range(len(data))):
    if (len(data['zipcode'][i]) != 5):
        city.append(" ")
        county.append(" ")
        population.append(" ")
        population_density.append(" ")
        median_household_income.append(" ")
        continue
    zipcode = engine.by_zipcode(data['zipcode'][i])
    city.append(zipcode.major_city)
    county.append(zipcode.county)
    population.append(zipcode.population)
    population_density.append(zipcode.population_density)
    median_household_income.append(zipcode.median_household_income)

100%|████████████████████████| 157167691/157167691 [12:40:27<00:00, 3444.57it/s]

In [32]:
data['city'] = city
data['county'] = county
data['population'] = population
data['population_density'] = population_density
data['median_household_income'] = median_household_income

In [34]:
data

,zipcode,census_blocks,city,county,population,population_density,median_household_income
0,90604,3014,Whittier,Los Angeles County,39407,9248.0,65570
1,94305,1012,Stanford,Santa Clara County,13862,2703.0,64697
2,91335,2009,Reseda,Los Angeles County,74363,11328.0,51266
3,95051,2006,Santa Clara,Santa Clara County,54327,8159.0,100504
4,94107,2018,San Francisco,San Francisco County,26599,14845.0,114439
...,...,...,...,...,...,...,...
157167686,90012,1001,Los Angeles,Los Angeles County,31103,9618.0,28879
157167687,90048,2007,Los Angeles,Los Angeles County,21397,11350.0,72701
157167688,94133,2007,San Francisco,San Francisco County,26237,34749.0,50485
157167689,94704,2007,Berkeley,Alameda County,25592,23930.0,31116
157167690,90034,2010,Los Angeles,Los Angeles County,57964,18621.0,56946

In [35]:
data.to_csv('UberGeo_adding_info.txt')

In [37]:
data.to_csv('UberGeo_adding_info1.txt', index=False)