In [1]:
import pandas as pd

In [2]:
pd.read_csv('plans.csv.gz')

,Unnamed: 0,Unnamed: 0.1,trip_id,person_id,number_of_participants,trip_mode,PlanElementIndex,ActivityElement,ActivityType,x,y,departure_time
0,0,0,NaN,0.0,NaN,NaN,1,activity,Home,-122.226436,37.855050,11.718
1,1,1,7.300000e+01,0.0,1.0,SHARED2FREE,2,leg,NaN,NaN,NaN,NaN
2,2,1,NaN,0.0,NaN,NaN,3,activity,escort,-122.076462,37.691972,12.382
3,3,2,7.700000e+01,0.0,1.0,SHARED2PAY,4,leg,NaN,NaN,NaN,NaN
4,4,2,NaN,0.0,NaN,NaN,5,activity,Home,-122.226436,37.855050,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
41952749,53229564,29622296,NaN,6741460.0,NaN,NaN,1,activity,Home,-123.056980,38.477696,7.483
41952750,53229565,29622297,2.211199e+09,6741460.0,1.0,WALK_LOC,2,leg,NaN,NaN,NaN,NaN
41952751,53229566,29622297,NaN,6741460.0,NaN,NaN,3,activity,work,-122.712832,38.497878,16.994
41952752,53229567,29622298,2.211199e+09,6741460.0,1.0,WALK_LRF,4,leg,NaN,NaN,NaN,NaN
41952753,53229568,29622298,NaN,6741460.0,NaN,NaN,5,activity,Home,-123.056980,38.477696,NaN