In [1]:
#Imports
import numpy as np
import pandas as pd
import difflib
import matplotlib.pyplot as plt

In [2]:
#add the new route
GTFS_filepath = '/Users/cpoliziani/Downloads/Data/TR/GTFS Baseline April/SF/'
agency = pd.read_csv(GTFS_filepath+'agency.txt')
calendar_dates = pd.read_csv(GTFS_filepath+'calendar_dates.txt')
calendar = pd.read_csv(GTFS_filepath+'calendar.txt')
routes = pd.read_csv(GTFS_filepath+'routes.txt')
shapes = pd.read_csv(GTFS_filepath+'shapes.txt')
stop_times = pd.read_csv(GTFS_filepath+'stop_times.txt')
stops = pd.read_csv(GTFS_filepath+'stops.txt')
trips = pd.read_csv(GTFS_filepath+'trips.txt')
fare_attributes = pd.read_csv(GTFS_filepath+'fare_attributes.txt')
fare_rules = pd.read_csv(GTFS_filepath+'fare_rules.txt')

In [3]:
routes

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,12283,SFMTA,1,CALIFORNIA,,3,,,
1,1033,SFMTA,1AX,CALIFORNIA A EXPRESS,,3,,,
2,1034,SFMTA,1BX,CALIFORNIA B EXPRESS,,3,,,
3,1031,SFMTA,31AX,BALBOA A EXPRESS,,3,,,
4,1032,SFMTA,31BX,BALBOA B EXPRESS,,3,,,
...,...,...,...,...,...,...,...,...,...
77,12475,SFMTA,J,CHURCH,,0,,,NaN
78,12476,SFMTA,K/T,INGLESIDE/THIRD,,0,,,NaN
79,12477,SFMTA,L,TARAVAL,,0,,,NaN
80,12478,SFMTA,M,OCEANVIEW,,0,,,NaN
81,12479,SFMTA,N,JUDAH,,0,,,NaN

In [4]:
#routes
print('add route...')
print('len -pre:', len(routes))

routes.loc[len(routes)] = ['1000', 
                           'SFMTA', 
                           'CS',
                           'CENTRAL SUBWAY',
                           routes.loc[0,'route_desc'],
                           1,
                           routes.loc[0,'route_url'],
                           routes.loc[0,'route_color'],
                           routes.loc[0,'route_text_color']] 

print('len -post:', len(routes))

add route...
len -pre: 82
len -post: 83

In [5]:
routes[-59:]

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
24,12300,SFMTA,18,46TH AVENUE,,3,,,
25,12301,SFMTA,19,POLK,,3,,,
26,12302,SFMTA,21,HAYES,,3,,,
27,12303,SFMTA,22,FILLMORE,,3,,,
28,12304,SFMTA,23,MONTEREY,,3,,,
29,12305,SFMTA,24,DIVISADERO,,3,,,
30,12306,SFMTA,25,TREASURE ISLAND,,3,,,
31,12307,SFMTA,27,BRYANT,,3,,,
32,12308,SFMTA,28,19TH AVENUE,,3,,,
33,12309,SFMTA,28R,19TH AVENUE,,3,,,
34,12310,SFMTA,29,SUNSET,,3,,,
35,12311,SFMTA,30,STOCKTON,,3,,,
36,12312,SFMTA,30X,MARINA EXPRESS,,3,,,
37,12313,SFMTA,31,BALBOA,,3,,,
38,12314,SFMTA,33,ASHBURY-18TH ST,,3,,,
39,12315,SFMTA,35,EUREKA,,3,,,
40,12316,SFMTA,36,TERESITA,,3,,,
41,12317,SFMTA,37,CORBETT,,3,,,
42,12318,SFMTA,38,GEARY,,3,,,
43,12319,SFMTA,38R,GEARY RAPID,,3,,,
44,12320,SFMTA,39,COIT,,3,,,
45,12321,SFMTA,41,UNION,,3,,,
46,12322,SFMTA,43,MASONIC,,3,,,
47,12323,SFMTA,44,O'SHAUGHNESSY,,3,,,
48,12324,SFMTA,45,UNION-STOCKTON,,3,,,
49,12325,SFMTA,47,VAN NESS,,3,,,NaN
50,12326,SFMTA,48,QUINTARA-24TH STREET,,3,,,NaN
51,12327,SFMTA,49,VAN NESS-MISSION,,3,,,NaN
52,12328,SFMTA,52,EXCELSIOR,,3,,,NaN
53,12329,SFMTA,54,FELTON,,3,,,NaN
54,12330,SFMTA,55,16TH STREET,,3,,,NaN
55,12331,SFMTA,56,RUTLAND,,3,,,NaN
56,12332,SFMTA,57,PARKMERCED,,3,,,NaN
57,1059,SFMTA,PM,POWELL-MASON CABLE CAR,,5,,,NaN
58,1060,SFMTA,PH,POWELL-HYDE CABLE CAR,,5,,,NaN
59,12334,SFMTA,C,CALIFORNIA CABLE CAR,,5,,,NaN
60,12335,SFMTA,66,QUINTARA,,3,,,NaN
61,12336,SFMTA,67,BERNAL HEIGHTS,,3,,,NaN
62,12337,SFMTA,76X,MARIN HEADLANDS EXPRESS,,3,,,NaN
63,1081,SFMTA,81X,CALTRAIN EXPRESS,,3,,,NaN
64,1082,SFMTA,82X,LEVI PLAZA EXPRESS,,3,,,NaN
65,12339,SFMTA,83X,MID-MARKET EXPRESS,,3,,,NaN
66,12340,SFMTA,88,BART SHUTTLE,,3,,,NaN
67,12341,SFMTA,90,SAN BRUNO OWL,,3,,,NaN
68,12342,SFMTA,91,3RD-19TH AVE OWL,,3,,,NaN
69,1102,SFMTA,K-OWL,INGLESIDE OWL,,3,,,NaN
70,1103,SFMTA,L-OWL,TARAVAL OWL,,3,,,NaN
71,1104,SFMTA,M-OWL,OCEANVIEW OWL,,3,,,NaN
72,1105,SFMTA,N-OWL,JUDAH OWL,,3,,,NaN
73,1106,SFMTA,T-OWL,THIRD OWL,,3,,,NaN
74,12344,SFMTA,E,EMBARCADERO,,0,,,NaN
75,12345,SFMTA,F,MARKET & WHARVES,,0,,,NaN
76,12351,SFMTA,NX,N EXPRESS,,3,,,NaN
77,12475,SFMTA,J,CHURCH,,0,,,NaN
78,12476,SFMTA,K/T,INGLESIDE/THIRD,,0,,,NaN
79,12477,SFMTA,L,TARAVAL,,0,,,NaN
80,12478,SFMTA,M,OCEANVIEW,,0,,,NaN
81,12479,SFMTA,N,JUDAH,,0,,,NaN
82,1000,SFMTA,CS,CENTRAL SUBWAY,,1,,,

In [6]:
stops

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url
0,390,1390,19th Avenue & Holloway St,,37.721190,-122.475096,,
1,913,1913,DUBLIN ST & LAGRANDE AVE,,37.719192,-122.425802,,
2,3003,13003,2nd St & Brannan St,,37.781827,-122.391945,,
3,3004,13004,2nd St & Brannan St,,37.781854,-122.392232,,
4,3009,13009,2nd St & Harrison St,,37.784532,-122.395325,,
...,...,...,...,...,...,...,...,...
3551,7886,17886,Bayshore Blvd & Flower St,,37.742377,-122.405609,,
3552,7887,17887,201 Bayshore Blvd E,,37.744616,-122.404187,,
3553,7888,17888,Bayshore Blvd & Oakdale Ave,,37.743046,-122.405402,,
3554,7899,17899,San Bruno Ave & Harkness Ave,,37.718043,-122.400114,,
3555,7900,17900,San Bruno Ave & Felton St,,37.729912,-122.404631,,

In [7]:
# from south to north
# -122.393859,37.776186 4th and King
# -122.396534,37.778312 4th and Brannan
# -122.401919,37.782639 Yerba Buena / Moscone
# -122.406252,37.785936 Union Square / Market
# -122.408068,37.794937 Chinatown
#-122.410181,37.800300 north beach

In [8]:
#stops
print('add stops...')
print('len -pre:', len(stops))


stops.loc[3556] = [
                7901, 
                17901, 
                '4th & King', 
                ' ', 
                37.776186, 
                -122.393859, 
                ' ', 
                ' '
               ]
stops.loc[3557] = [
                7902, 
                17902, 
                '4th & Brannan', 
                ' ', 
                37.778312, 
                -122.396534, 
                ' ', 
                ' '
               ]
stops.loc[3558] = [
                7903, 
                17903, 
                'Yerba Buena / Moscone', 
                ' ', 
                37.782639, 
                -122.401919, 
                ' ', 
                ' '
               ]
stops.loc[3559] = [
                7904, 
                17904, 
                'Union Square / Market', 
                ' ', 
                37.785936, 
                -122.406252, 
                ' ', 
                ' '
               ]
stops.loc[3560] = [
                7905, 
                17905, 
                'Chinatown', 
                ' ', 
                37.794937, 
                -122.408068, 
                ' ', 
                ' '
               ]
stops.loc[3561] = [
                7906, 
                17906, 
                'North Beach', 
                ' ', 
                37.800300, 
                -122.410181, 
                ' ', 
                ' '
               ]
stops_nb = [7901, 7902, 7903, 7904, 7905, 7906]
stops_sb = [7906, 7905, 7904, 7903, 7902, 7901]
print('len -post:', len(stops))

add stops...
len -pre: 3556
len -post: 3562

In [9]:
stops[-59:]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url
3503,7794,17794,The Embarcadero&Harrison St NW-NS/PS,,37.789597,-122.388626,,
3504,7795,17795,The Embarcadero&Harrsion St NE-FS/PS,,37.789677,-122.388535,,
3505,7796,17796,Brotherhood Way & Grace SE-FS/SB,,37.714488,-122.480224,,
3506,7797,17797,Brotherhood Way & Church Access Rd SW-NS-SB,,37.714132,-122.475574,,
3507,7798,17798,Brotherhood Way & Summit Way SE-FS/SB,,37.713588,-122.474474,,
3508,7799,17799,Van Ness Ave&North Point St SE-NS/BZ,,37.804876,-122.425237,,
3509,7800,17800,Lombard St&Gough St NW-FS/BZ,,37.800942,-122.428070,,
3510,7801,17801,Brotherhood way & Grace community Church NE-NS/SB,,37.714595,-122.480189,,
3511,7802,17802,West Potral & Sola Blvd NW-NS/SB,,37.735039,-122.471515,,
3512,7803,17803,Mission Stt & Steuart St NW-FS/SB,,37.793204,-122.393381,,
3513,7804,17804,Ocean Ave&I-280 on-ramp NE-NS/SB,,37.723031,-122.446932,,
3514,7805,17805,Chumasero Dr & Galindo Ave,,37.714053,-122.473135,,
3515,7806,17806,Font Blvd & Mary Ward Hall,,37.722491,-122.483056,,
3516,7807,17807,Buckingham Way & Winston Dr,,37.728551,-122.479096,,
3517,7808,17808,Font Blvd & Mary Ward Hall,,37.722759,-122.483629,,
3518,7809,17809,Sf General Hospital,,37.755208,-122.406667,,
3519,7815,17815,Skyline Blvd & Sloat Blvd,,37.733702,-122.496578,,
3520,7833,17833,Steuart & Donchee Way,,37.793766,-122.393725,,
3521,7834,17834,16th St & Church St,,37.764457,-122.428791,,
3522,7835,17835,37th AVE & Ortega St,,37.751298,-122.495559,,
3523,7836,17836,30th Ave & Geary Blvd,,37.780771,-122.490064,,
3524,7837,17837,32ND AVE & ANZA St,,37.777737,-122.491999,,
3525,7838,17838,Girard ST & Burrows ST,,37.727994,-122.404941,,
3526,7839,17839,Arguello Blvd & Geary Blvd,,37.781867,-122.458806,,
3527,7840,17840,Chestnut St & Fillmore St,,37.800791,-122.436039,,
3528,7841,17841,Mission St & Power St,,37.746245,-122.419401,,
3529,7842,17842,Daly City Bart Station,,37.706514,-122.468632,,
3530,7843,17843,Bemis St & Addison St,,37.737931,-122.429462,,
3531,7844,17844,California St & 6th Ave,,37.784953,-122.464469,,
3532,7851,17851,Lake Merced & Lakeshore,,37.729420,-122.494056,,
3533,7852,17852,Lake Merced & Lakeshore,,37.729492,-122.494090,,
3534,7853,17853,Lincoln Way & 34th Ave,,37.764709,-122.493413,,
3535,7854,17854,Geary Blvd & Arguello Blvd,,37.781313,-122.458955,,
3536,7856,17856,Chestnut St & Gough St,,37.801825,-122.428104,,
3537,7857,17857,Chestnut St & Gough St,,37.801914,-122.427955,,
3538,7858,17858,Market St & 7th St North,,37.780630,-122.412407,,
3539,7859,17859,Duboce Ave & Church St,,37.769463,-122.429122,,
3540,7860,17860,Donahue St & Innes Ave,,37.728895,-122.370154,,
3541,7862,17862,Broadway & Sansome St,,37.798392,-122.402343,,
3542,7863,17863,Sansome St & Jackson St,,37.796527,-122.401909,,
3543,7864,17864,Bryant St & Division St,,37.768932,-122.410888,,
3544,7865,17865,16th Street & Owen St,,37.766722,-122.392805,,
3545,7866,17866,16th St & Owen St,,37.766650,-122.392530,,
3546,7867,17867,Miguel ST & Laidley ST,,37.737761,-122.428294,,
3547,7868,17868,Miguel ST & Laidley ST,,37.737752,-122.428248,,
3548,7869,17869,47th Ave & Cutler Ave,,37.736991,-122.505413,,
3549,7884,17884,Golden Gate Ave & Leavenworth St,,37.781826,-122.413793,,
3550,7885,17885,Quintra St & 43rd Ave,,37.747584,-122.501583,,
3551,7886,17886,Bayshore Blvd & Flower St,,37.742377,-122.405609,,
3552,7887,17887,201 Bayshore Blvd E,,37.744616,-122.404187,,
3553,7888,17888,Bayshore Blvd & Oakdale Ave,,37.743046,-122.405402,,
3554,7899,17899,San Bruno Ave & Harkness Ave,,37.718043,-122.400114,,
3555,7900,17900,San Bruno Ave & Felton St,,37.729912,-122.404631,,
3556,7901,17901,4th & King,,37.776186,-122.393859,,
3557,7902,17902,4th & Brannan,,37.778312,-122.396534,,
3558,7903,17903,Yerba Buena / Moscone,,37.782639,-122.401919,,
3559,7904,17904,Union Square / Market,,37.785936,-122.406252,,
3560,7905,17905,Chinatown,,37.794937,-122.408068,,
3561,7906,17906,North Beach,,37.800300,-122.410181,,

In [10]:
shapes

,shape_id,shape_pt_lon,shape_pt_lat,shape_pt_sequence,shape_dist_traveled
0,147476,-122.396968,37.795436,1,0
1,147476,-122.396784,37.795471,2,17
2,147476,-122.396598,37.794593,3,116
3,147476,-122.397809,37.794439,4,224
4,147476,-122.398983,37.794289,5,329
...,...,...,...,...,...
205594,155986,-122.424744,37.802286,217,18055
205595,155986,-122.424931,37.803210,218,18159
205596,155986,-122.425122,37.804150,219,18265
205597,155986,-122.425237,37.804698,220,18327
205598,155986,-122.425157,37.804769,221,18338

In [11]:
#NB
# -122.393859,37.776186 4th and King
# -122.396534,37.778312 4th and Brannan
# -122.401919,37.782639 Yerba Buena / Moscone
# -122.406252,37.785936 Union Square / Market
# -122.408068,37.794937 Chinatown
# -122.410181,37.800300 North Beach
#SB

In [12]:
#shapes
print('add shapes...')
print('len -pre:', len(shapes))

tt_stops_sb = [0,85,120,60,83,41]
tt_stops_nb = [0,41,83,60,120,85]

shapes.loc[205599] = ['160000', -122.393859, 37.776186, 1, 0]#4th and King
shapes.loc[205600] = ['160000', -122.394988, 37.777105, 2, 140]
shapes.loc[205601] = ['160000', -122.395958, 37.777878, 3, 269]
shapes.loc[205602] = ['160000', -122.396534, 37.778312, 4, 343]#4th and Brannan
shapes.loc[205603] = ['160000', -122.398008, 37.779545, 5, 536]
shapes.loc[205604] = ['160000', -122.399615, 37.780756, 6, 723]
shapes.loc[205605] = ['160000', -122.400355, 37.781387, 7, 822]
shapes.loc[205606] = ['160000', -122.401919, 37.782639, 8, 1018]#Yerba Buena / Moscone
shapes.loc[205607] = ['160000', -122.403167, 37.783629, 9, 1173]
shapes.loc[205608] = ['160000', -122.404598, 37.784769, 10, 1353]
shapes.loc[205609] = ['160000', -122.405760, 37.785706, 11, 1496]
shapes.loc[205610] = ['160000', -122.406252, 37.785936, 12, 1547]#Union Square / Market
shapes.loc[205611] = ['160000', -122.406456, 37.786967, 13, 1663]
shapes.loc[205612] = ['160000', -122.406856, 37.788924, 14, 1886]
shapes.loc[205613] = ['160000', -122.407607, 37.792575, 15, 2300]
shapes.loc[205614] = ['160000', -122.408068, 37.794937, 16, 2563]#Chinatown
shapes.loc[205615] = ['160000', -122.408402, 37.796550, 17, 2736]
shapes.loc[205616] = ['160000', -122.408972, 37.799493, 18, 3069]
shapes.loc[205617] = ['160000', -122.409389, 37.799778, 19, 3124]
shapes.loc[205618] = ['160000', -122.410181, 37.800300, 20, 3214]#North Beach

shapes.loc[205619] = ['160001', -122.410181, 37.800300, 1, 0]#North Beach
shapes.loc[205620] = ['160001', -122.409389, 37.799778, 2, 90]
shapes.loc[205621] = ['160001', -122.408972, 37.799493, 3, 145]
shapes.loc[205622] = ['160001', -122.408402, 37.796550, 4, 478]
shapes.loc[205623] = ['160001', -122.408068, 37.794937, 5, 651]#Chinatown
shapes.loc[205624] = ['160001', -122.407607, 37.792575, 6, 914]
shapes.loc[205625] = ['160001', -122.406856, 37.788924, 7, 1328]
shapes.loc[205626] = ['160001', -122.406456, 37.786967, 8, 1551]
shapes.loc[205627] = ['160001', -122.406252, 37.785936, 9, 1667]#Union Square / Market
shapes.loc[205628] = ['160001', -122.405760, 37.785706, 10, 1718]
shapes.loc[205629] = ['160001', -122.404598, 37.784769, 11, 1861]
shapes.loc[205630] = ['160001', -122.403167, 37.783629, 12, 2041]
shapes.loc[205631] = ['160001', -122.401919, 37.782639, 13, 2196]#Yerba Buena / Moscone
shapes.loc[205632] = ['160001', -122.400355, 37.781387, 14, 2392]
shapes.loc[205633] = ['160001', -122.399615, 37.780756, 15, 2491]
shapes.loc[205634] = ['160001', -122.398008, 37.779545, 16, 2678]
shapes.loc[205635] = ['160001', -122.396534, 37.778312, 17, 2871]#4th and Brannan
shapes.loc[205636] = ['160001', -122.395958, 37.777878, 18, 2945]
shapes.loc[205637] = ['160001', -122.394988, 37.777105, 19, 3074]
shapes.loc[205638] = ['160001', -122.393859, 37.776186, 20, 3214]#4th and King

shapes.to_csv('/Users/cpoliziani/Downloads/shapes.txt',index=False)

print('len -post:', len(shapes))

add shapes...
len -pre: 205599
len -post: 205639

In [13]:
shapes[-59:]

,shape_id,shape_pt_lon,shape_pt_lat,shape_pt_sequence,shape_dist_traveled
205580,155986,-122.444724,37.798807,203,16147
205581,155986,-122.444331,37.798795,204,16182
205582,155986,-122.442660,37.799005,205,16331
205583,155986,-122.440990,37.799217,206,16480
205584,155986,-122.439349,37.799430,207,16626
205585,155986,-122.437707,37.799639,208,16772
205586,155986,-122.436059,37.799848,209,16919
205587,155986,-122.434417,37.800056,210,17065
205588,155986,-122.432773,37.800265,211,17211
205589,155986,-122.431128,37.800474,212,17358
205590,155986,-122.429483,37.800683,213,17505
205591,155986,-122.427838,37.800891,214,17652
205592,155986,-122.426193,37.801100,215,17799
205593,155986,-122.424551,37.801308,216,17945
205594,155986,-122.424744,37.802286,217,18055
205595,155986,-122.424931,37.803210,218,18159
205596,155986,-122.425122,37.804150,219,18265
205597,155986,-122.425237,37.804698,220,18327
205598,155986,-122.425157,37.804769,221,18338
205599,160000,-122.393859,37.776186,1,0
205600,160000,-122.394988,37.777105,2,140
205601,160000,-122.395958,37.777878,3,269
205602,160000,-122.396534,37.778312,4,343
205603,160000,-122.398008,37.779545,5,536
205604,160000,-122.399615,37.780756,6,723
205605,160000,-122.400355,37.781387,7,822
205606,160000,-122.401919,37.782639,8,1018
205607,160000,-122.403167,37.783629,9,1173
205608,160000,-122.404598,37.784769,10,1353
205609,160000,-122.405760,37.785706,11,1496
205610,160000,-122.406252,37.785936,12,1547
205611,160000,-122.406456,37.786967,13,1663
205612,160000,-122.406856,37.788924,14,1886
205613,160000,-122.407607,37.792575,15,2300
205614,160000,-122.408068,37.794937,16,2563
205615,160000,-122.408402,37.796550,17,2736
205616,160000,-122.408972,37.799493,18,3069
205617,160000,-122.409389,37.799778,19,3124
205618,160000,-122.410181,37.800300,20,3214
205619,160001,-122.410181,37.800300,1,0
205620,160001,-122.409389,37.799778,2,90
205621,160001,-122.408972,37.799493,3,145
205622,160001,-122.408402,37.796550,4,478
205623,160001,-122.408068,37.794937,5,651
205624,160001,-122.407607,37.792575,6,914
205625,160001,-122.406856,37.788924,7,1328
205626,160001,-122.406456,37.786967,8,1551
205627,160001,-122.406252,37.785936,9,1667
205628,160001,-122.405760,37.785706,10,1718
205629,160001,-122.404598,37.784769,11,1861
205630,160001,-122.403167,37.783629,12,2041
205631,160001,-122.401919,37.782639,13,2196
205632,160001,-122.400355,37.781387,14,2392
205633,160001,-122.399615,37.780756,15,2491
205634,160001,-122.398008,37.779545,16,2678
205635,160001,-122.396534,37.778312,17,2871
205636,160001,-122.395958,37.777878,18,2945
205637,160001,-122.394988,37.777105,19,3074
205638,160001,-122.393859,37.776186,20,3214

In [14]:
trips

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
0,12283,1,7580555,Geary + 33rd Avenue,0,122,147478
1,12283,1,7580396,Geary + 33rd Avenue,0,117,147478
2,12283,1,7580395,Geary + 33rd Avenue,0,115,147478
3,12283,1,7580387,Geary + 33rd Avenue,0,154,147478
4,12283,3,7581240,Geary + 33rd Avenue,0,105,147477
...,...,...,...,...,...,...,...
28967,12351,1,7643147,Financial District,1,9754,147913
28968,12351,1,7643146,Financial District,1,9755,147913
28969,12351,1,7643145,Financial District,1,9756,147913
28970,12351,1,7643144,Financial District,1,9757,147913
28971,12351,1,7643141,Ocean Beach,0,9764,147912

In [15]:
#trips
print('add trips...')
print('len -pre:', len(trips))
hour_begin = 5
hour_end = 24
frequency = 4
n_trips = (hour_end-hour_begin)*frequency
first_index_id = 28972
first_trip_id = 7875110
trips_sb = []
trips_nb = []
for i in range(n_trips):
    trips.loc[first_index_id+2*i] = [1000, 1, first_trip_id+2*i, 'Central Subway SB', 0, 9999, 160001]
    trips_sb.append(first_trip_id+2*i)
    trips.loc[first_index_id+2*i+1] = [1000, 1, first_trip_id+2*i+1, 'Central Subway NB', 1, 9999, 160000]
    trips_nb.append(first_trip_id+2*i+1)
print('len -post:', len(trips))

add trips...
len -pre: 28972
len -post: 29124

In [16]:
trips[-59:]

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
29065,1000,1,7875203,Central Subway NB,1,9999,160000
29066,1000,1,7875204,Central Subway SB,0,9999,160001
29067,1000,1,7875205,Central Subway NB,1,9999,160000
29068,1000,1,7875206,Central Subway SB,0,9999,160001
29069,1000,1,7875207,Central Subway NB,1,9999,160000
29070,1000,1,7875208,Central Subway SB,0,9999,160001
29071,1000,1,7875209,Central Subway NB,1,9999,160000
29072,1000,1,7875210,Central Subway SB,0,9999,160001
29073,1000,1,7875211,Central Subway NB,1,9999,160000
29074,1000,1,7875212,Central Subway SB,0,9999,160001
29075,1000,1,7875213,Central Subway NB,1,9999,160000
29076,1000,1,7875214,Central Subway SB,0,9999,160001
29077,1000,1,7875215,Central Subway NB,1,9999,160000
29078,1000,1,7875216,Central Subway SB,0,9999,160001
29079,1000,1,7875217,Central Subway NB,1,9999,160000
29080,1000,1,7875218,Central Subway SB,0,9999,160001
29081,1000,1,7875219,Central Subway NB,1,9999,160000
29082,1000,1,7875220,Central Subway SB,0,9999,160001
29083,1000,1,7875221,Central Subway NB,1,9999,160000
29084,1000,1,7875222,Central Subway SB,0,9999,160001
29085,1000,1,7875223,Central Subway NB,1,9999,160000
29086,1000,1,7875224,Central Subway SB,0,9999,160001
29087,1000,1,7875225,Central Subway NB,1,9999,160000
29088,1000,1,7875226,Central Subway SB,0,9999,160001
29089,1000,1,7875227,Central Subway NB,1,9999,160000
29090,1000,1,7875228,Central Subway SB,0,9999,160001
29091,1000,1,7875229,Central Subway NB,1,9999,160000
29092,1000,1,7875230,Central Subway SB,0,9999,160001
29093,1000,1,7875231,Central Subway NB,1,9999,160000
29094,1000,1,7875232,Central Subway SB,0,9999,160001
29095,1000,1,7875233,Central Subway NB,1,9999,160000
29096,1000,1,7875234,Central Subway SB,0,9999,160001
29097,1000,1,7875235,Central Subway NB,1,9999,160000
29098,1000,1,7875236,Central Subway SB,0,9999,160001
29099,1000,1,7875237,Central Subway NB,1,9999,160000
29100,1000,1,7875238,Central Subway SB,0,9999,160001
29101,1000,1,7875239,Central Subway NB,1,9999,160000
29102,1000,1,7875240,Central Subway SB,0,9999,160001
29103,1000,1,7875241,Central Subway NB,1,9999,160000
29104,1000,1,7875242,Central Subway SB,0,9999,160001
29105,1000,1,7875243,Central Subway NB,1,9999,160000
29106,1000,1,7875244,Central Subway SB,0,9999,160001
29107,1000,1,7875245,Central Subway NB,1,9999,160000
29108,1000,1,7875246,Central Subway SB,0,9999,160001
29109,1000,1,7875247,Central Subway NB,1,9999,160000
29110,1000,1,7875248,Central Subway SB,0,9999,160001
29111,1000,1,7875249,Central Subway NB,1,9999,160000
29112,1000,1,7875250,Central Subway SB,0,9999,160001
29113,1000,1,7875251,Central Subway NB,1,9999,160000
29114,1000,1,7875252,Central Subway SB,0,9999,160001
29115,1000,1,7875253,Central Subway NB,1,9999,160000
29116,1000,1,7875254,Central Subway SB,0,9999,160001
29117,1000,1,7875255,Central Subway NB,1,9999,160000
29118,1000,1,7875256,Central Subway SB,0,9999,160001
29119,1000,1,7875257,Central Subway NB,1,9999,160000
29120,1000,1,7875258,Central Subway SB,0,9999,160001
29121,1000,1,7875259,Central Subway NB,1,9999,160000
29122,1000,1,7875260,Central Subway SB,0,9999,160001
29123,1000,1,7875261,Central Subway NB,1,9999,160000

In [17]:
stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,7580387,16:00:00,16:00:00,3892,30,,,,
1,7580387,16:01:13,16:01:13,3875,31,,,,
2,7580387,16:02:31,16:02:31,3896,32,,,,
3,7580387,16:03:16,16:03:16,3879,33,,,,
4,7580387,16:03:54,16:03:54,3852,34,,,,
...,...,...,...,...,...,...,...,...,...
1085564,7875109,20:41:23,20:41:23,5810,20,,,,
1085565,7875109,20:43:00,20:43:00,5641,21,,,,
1085566,7875109,20:45:10,20:45:10,5638,22,,,,
1085567,7875109,20:46:34,20:46:34,3089,23,,,,
1085568,7875109,20:48:00,20:48:00,7619,24,,,,

In [18]:
#stop times
print('add stop times...')
print('len -pre:', len(stop_times))
dep_s = hour_begin*3600
cad = 1/frequency*3600
first_id_stop = 1085568
for trip_sb in trips_sb:
    dep_stop = dep_s
    for stop_sb,i, tt_stop_sb in zip(stops_sb,range(len(stops_sb)),tt_stops_sb):
        first_id_stop +=1
        dep_stop += tt_stop_sb
        deph = str(int(dep_stop/3600))
        depm = str(int((dep_stop-int(dep_stop/3600)*3600)/60))
        deps = str(int(dep_stop-int(dep_stop/3600)*3600-int((dep_stop-int(dep_stop/3600)*3600)/60)*60))
        if len(deph) == 1:
            deph = '0'+deph
        if len(depm) == 1:
            depm = '0'+depm
        if len(deps) == 1:
            deps = '0'+deps
        stop_times.loc[first_id_stop] = [trip_sb, deph+':'+depm+':'+deps, deph+':'+depm+':'+deps, stop_sb, i+1, ' ',' ',' ',' ']
    dep_s += cad
dep_s = hour_begin*3600
for trip_nb in trips_nb:
    dep_stop = dep_s
    for stop_nb,i, tt_stop_nb in zip(stops_nb,range(len(stops_nb)),tt_stops_nb):
        first_id_stop +=1
        dep_stop += tt_stop_nb
        deph = str(int(dep_stop/3600))
        depm = str(int((dep_stop-int(dep_stop/3600)*3600)/60))
        deps = str(int(dep_stop-int(dep_stop/3600)*3600-int((dep_stop-int(dep_stop/3600)*3600)/60)*60))
        if len(deph) == 1:
            deph = '0'+deph
        if len(depm) == 1:
            depm = '0'+depm
        if len(deps) == 1:
            deps = '0'+deps
        stop_times.loc[first_id_stop] = [trip_nb,  deph+':'+depm+':'+deps, deph+':'+depm+':'+deps, stop_nb, i+1, ' ',' ',' ',' ']
    dep_s += cad

print('len -post:', len(stop_times))

add stop times...
len -pre: 1085569
len -post: 1086481

In [19]:
stop_times[-59:]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
1086422,7875243,21:30:41,21:30:41,7902,2,,,,
1086423,7875243,21:32:04,21:32:04,7903,3,,,,
1086424,7875243,21:33:04,21:33:04,7904,4,,,,
1086425,7875243,21:35:04,21:35:04,7905,5,,,,
1086426,7875243,21:36:29,21:36:29,7906,6,,,,
1086427,7875245,21:45:00,21:45:00,7901,1,,,,
1086428,7875245,21:45:41,21:45:41,7902,2,,,,
1086429,7875245,21:47:04,21:47:04,7903,3,,,,
1086430,7875245,21:48:04,21:48:04,7904,4,,,,
1086431,7875245,21:50:04,21:50:04,7905,5,,,,
1086432,7875245,21:51:29,21:51:29,7906,6,,,,
1086433,7875247,22:00:00,22:00:00,7901,1,,,,
1086434,7875247,22:00:41,22:00:41,7902,2,,,,
1086435,7875247,22:02:04,22:02:04,7903,3,,,,
1086436,7875247,22:03:04,22:03:04,7904,4,,,,
1086437,7875247,22:05:04,22:05:04,7905,5,,,,
1086438,7875247,22:06:29,22:06:29,7906,6,,,,
1086439,7875249,22:15:00,22:15:00,7901,1,,,,
1086440,7875249,22:15:41,22:15:41,7902,2,,,,
1086441,7875249,22:17:04,22:17:04,7903,3,,,,
1086442,7875249,22:18:04,22:18:04,7904,4,,,,
1086443,7875249,22:20:04,22:20:04,7905,5,,,,
1086444,7875249,22:21:29,22:21:29,7906,6,,,,
1086445,7875251,22:30:00,22:30:00,7901,1,,,,
1086446,7875251,22:30:41,22:30:41,7902,2,,,,
1086447,7875251,22:32:04,22:32:04,7903,3,,,,
1086448,7875251,22:33:04,22:33:04,7904,4,,,,
1086449,7875251,22:35:04,22:35:04,7905,5,,,,
1086450,7875251,22:36:29,22:36:29,7906,6,,,,
1086451,7875253,22:45:00,22:45:00,7901,1,,,,
1086452,7875253,22:45:41,22:45:41,7902,2,,,,
1086453,7875253,22:47:04,22:47:04,7903,3,,,,
1086454,7875253,22:48:04,22:48:04,7904,4,,,,
1086455,7875253,22:50:04,22:50:04,7905,5,,,,
1086456,7875253,22:51:29,22:51:29,7906,6,,,,
1086457,7875255,23:00:00,23:00:00,7901,1,,,,
1086458,7875255,23:00:41,23:00:41,7902,2,,,,
1086459,7875255,23:02:04,23:02:04,7903,3,,,,
1086460,7875255,23:03:04,23:03:04,7904,4,,,,
1086461,7875255,23:05:04,23:05:04,7905,5,,,,
1086462,7875255,23:06:29,23:06:29,7906,6,,,,
1086463,7875257,23:15:00,23:15:00,7901,1,,,,
1086464,7875257,23:15:41,23:15:41,7902,2,,,,
1086465,7875257,23:17:04,23:17:04,7903,3,,,,
1086466,7875257,23:18:04,23:18:04,7904,4,,,,
1086467,7875257,23:20:04,23:20:04,7905,5,,,,
1086468,7875257,23:21:29,23:21:29,7906,6,,,,
1086469,7875259,23:30:00,23:30:00,7901,1,,,,
1086470,7875259,23:30:41,23:30:41,7902,2,,,,
1086471,7875259,23:32:04,23:32:04,7903,3,,,,
1086472,7875259,23:33:04,23:33:04,7904,4,,,,
1086473,7875259,23:35:04,23:35:04,7905,5,,,,
1086474,7875259,23:36:29,23:36:29,7906,6,,,,
1086475,7875261,23:45:00,23:45:00,7901,1,,,,
1086476,7875261,23:45:41,23:45:41,7902,2,,,,
1086477,7875261,23:47:04,23:47:04,7903,3,,,,
1086478,7875261,23:48:04,23:48:04,7904,4,,,,
1086479,7875261,23:50:04,23:50:04,7905,5,,,,
1086480,7875261,23:51:29,23:51:29,7906,6,,,,

In [20]:
fare_rules

    fare_id  route_id  origin_id  destination_id  contains_id
0         1     12283        NaN             NaN          NaN
1         1      1033        NaN             NaN          NaN
2         1      1034        NaN             NaN          NaN
3         1      1031        NaN             NaN          NaN
4         1      1032        NaN             NaN          NaN
..      ...       ...        ...             ...          ...
77        1     12475        NaN             NaN          NaN
78        1     12476        NaN             NaN          NaN
79        1     12477        NaN             NaN          NaN
80        1     12478        NaN             NaN          NaN
81        1     12479        NaN             NaN          NaN

[82 rows x 5 columns]

In [21]:
#fare_rules
fare_rules.loc[82] = ['1','1000',fare_rules.at[0,'origin_id'],fare_rules.at[0,'destination_id'],fare_rules.at[0,'contains_id']]

In [22]:
fare_rules[-59:]

   fare_id route_id  origin_id  destination_id  contains_id
24       1    12300        NaN             NaN          NaN
25       1    12301        NaN             NaN          NaN
26       1    12302        NaN             NaN          NaN
27       1    12303        NaN             NaN          NaN
28       1    12304        NaN             NaN          NaN
29       1    12305        NaN             NaN          NaN
30       1    12306        NaN             NaN          NaN
31       1    12307        NaN             NaN          NaN
32       1    12308        NaN             NaN          NaN
33       1    12309        NaN             NaN          NaN
34       1    12310        NaN             NaN          NaN
35       1    12311        NaN             NaN          NaN
36       1    12312        NaN             NaN          NaN
37       1    12313        NaN             NaN          NaN
38       1    12314        NaN             NaN          NaN
39       1    12315        NaN             NaN          NaN
40       1    12316        NaN             NaN          NaN
41       1    12317        NaN             NaN          NaN
42       1    12318        NaN             NaN          NaN
43       1    12319        NaN             NaN          NaN
44       1    12320        NaN             NaN          NaN
45       1    12321        NaN             NaN          NaN
46       1    12322        NaN             NaN          NaN
47       1    12323        NaN             NaN          NaN
48       1    12324        NaN             NaN          NaN
49       1    12325        NaN             NaN          NaN
50       1    12326        NaN             NaN          NaN
51       1    12327        NaN             NaN          NaN
52       1    12328        NaN             NaN          NaN
53       1    12329        NaN             NaN          NaN
54       1    12330        NaN             NaN          NaN
55       1    12331        NaN             NaN          NaN
56       1    12332        NaN             NaN          NaN
57       2     1059        NaN             NaN          NaN
58       2     1060        NaN             NaN          NaN
59       2    12334        NaN             NaN          NaN
60       1    12335        NaN             NaN          NaN
61       1    12336        NaN             NaN          NaN
62       1    12337        NaN             NaN          NaN
63       1     1081        NaN             NaN          NaN
64       1     1082        NaN             NaN          NaN
65       1    12339        NaN             NaN          NaN
66       1    12340        NaN             NaN          NaN
67       1    12341        NaN             NaN          NaN
68       1    12342        NaN             NaN          NaN
69       1     1102        NaN             NaN          NaN
70       1     1103        NaN             NaN          NaN
71       1     1104        NaN             NaN          NaN
72       1     1105        NaN             NaN          NaN
73       1     1106        NaN             NaN          NaN
74       1    12344        NaN             NaN          NaN
75       1    12345        NaN             NaN          NaN
76       1    12351        NaN             NaN          NaN
77       1    12475        NaN             NaN          NaN
78       1    12476        NaN             NaN          NaN
79       1    12477        NaN             NaN          NaN
80       1    12478        NaN             NaN          NaN
81       1    12479        NaN             NaN          NaN
82       1     1000        NaN             NaN          NaN

In [23]:
GTFS_filepath = '/Users/cpoliziani/Downloads/BEAM-CORE/PILATES/repo/beam-data-sfbay/r5-simple-no-local-TR/SF/'
routes.to_csv(GTFS_filepath+'routes.txt',index=False)
shapes.to_csv(GTFS_filepath+'shapes.txt',index=False)
stop_times.to_csv(GTFS_filepath+'stop_times.txt',index=False)
stops.to_csv(GTFS_filepath+'stops.txt',index=False)
trips.to_csv(GTFS_filepath+'trips.txt',index=False)
fare_rules.to_csv(GTFS_filepath+'fare_rules.txt',index=False)