In [2]:
#Imports
import numpy as np
import pandas as pd
import difflib
import matplotlib.pyplot as plt

In [15]:

#Filter a specific route
GTFS_filepath = '/Users/cpoliziani/Downloads/Data/TR/old-new GTFS/SF20220611/'

agency = pd.read_csv(GTFS_filepath+'agency.txt')
calendar_dates = pd.read_csv(GTFS_filepath+'calendar_dates.txt')
calendar = pd.read_csv(GTFS_filepath+'calendar.txt')
fare_attributes = pd.read_csv(GTFS_filepath+'fare_attributes.txt')
fare_rules = pd.read_csv(GTFS_filepath+'fare_rules.txt')
# feed_info = pd.read_csv(GTFS_filepath+'feed_info.txt')
routes = pd.read_csv(GTFS_filepath+'routes.txt')
shapes = pd.read_csv(GTFS_filepath+'shapes.txt')
stop_times = pd.read_csv(GTFS_filepath+'stop_times.txt')
stops = pd.read_csv(GTFS_filepath+'stops.txt')
trips = pd.read_csv(GTFS_filepath+'trips.txt')



GTFS_filepath2 = '/Users/cpoliziani/Downloads/Data/TR/GTFS Baseline April/SF/'
trips2 = pd.read_csv(GTFS_filepath2+'trips.txt')
stop_times2 = pd.read_csv(GTFS_filepath2+'stop_times.txt')
routes2 = pd.read_csv(GTFS_filepath2+'routes.txt')

In [25]:
routes2 = routes2[routes2['route_short_name'].isin(['49','90'])]
trips2 = trips2[trips2['route_id'].isin([12327,12341])]
stop_times2 = stop_times2[stop_times2['trip_id'].isin(trips2['trip_id'])]
trips2

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
19339,12327,1,7625151,North Point + Van Ness,1,4914,147742
19340,12327,1,7625150,North Point + Van Ness,1,4901,147742
19341,12327,1,7625149,North Point + Van Ness,1,4913,147742
19342,12327,1,7625148,North Point + Van Ness,1,4904,147742
19343,12327,1,7625147,North Point + Van Ness,1,4902,147742
...,...,...,...,...,...,...,...
24324,12341,1,7633256,North Point + Van Ness,1,9002,147786
24325,12341,3,7633291,Visitacion Valley,0,9003,147785
24326,12341,3,7633290,Visitacion Valley,0,9002,147785
24327,12341,3,7633298,North Point + Van Ness,1,9003,147786
24328,12341,3,7633297,North Point + Van Ness,1,9002,147786

In [24]:
trips = trips[trips['route_id'].isin([18662,18681])]
stop_times = stop_times[stop_times['trip_id'].isin(trips['trip_id'])]
trips

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed
15625,18662,3,11005169,City College,0,9001,202443,1,1
15626,18662,3,11005170,City College,0,4903,202443,1,1
15627,18662,3,11005171,City College,0,4905,202443,1,1
15628,18662,3,11005172,City College,0,4907,202443,1,1
15629,18662,3,11005173,City College,0,4902,202443,1,1
...,...,...,...,...,...,...,...,...,...
20258,18681,1,11011462,North Point + Van Ness,1,9001,202503,1,1
20259,18681,1,11011463,North Point + Van Ness,1,9003,202503,1,1
20260,18681,1,11011464,North Point + Van Ness,1,9002,202503,1,1
20261,18681,1,11011465,North Point + Van Ness,1,9002,202503,1,1
20262,18681,1,11011466,North Point + Van Ness,1,9002,202503,1,1

In [12]:
stop_times['duration'] = stop_times['arrival_time']-stop_times['departure_time']

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
676715,11004612,12:33:00,12:33:00,6819,7,,,,
676716,11004612,12:34:35,12:34:35,6801,8,,,,
676717,11004612,12:37:00,12:37:00,8097,9,,,,
676718,11004612,12:38:10,12:38:10,8098,10,,,,
676719,11004612,12:39:54,12:39:54,8099,11,,,,
...,...,...,...,...,...,...,...,...,...
791294,11011508,24:38:23,24:38:23,8095,35,,,,
791295,11011508,24:39:03,24:39:03,8096,36,,,,
791296,11011508,24:40:39,24:40:39,6800,37,,,,
791297,11011508,24:41:19,24:41:19,6806,38,,,,
791298,11011508,24:42:00,24:42:00,7476,39,,,,

In [3]:
#Routes
#Trips
#Stops time and Shapes
#Stops
#Fare Rules

routes_after = routes[routes['route_id']==route_ID]

trips_after = trips[trips['route_id']==route_ID]

stop_times_after = stop_times[stop_times['trip_id'].isin(trips_after['trip_id'])]

stops_after = stops[stops['stop_id'].isin(stop_times_after['stop_id'])]

shapes_after = shapes[shapes['shape_id'].isin(trips_after['shape_id'])]

fare_rules_after = fare_rules[fare_rules['route_id']==route_ID]

#already OK:
#agency
#calendar_dates
#calendar
#fare_attributes
#feed_info

In [4]:
#add the new route
GTFS_filepath = '/Users/cpoliziani/Downloads/BEAM-CORE/PILATES/repo/beam-data-sfbay/r5-simple-no-local TR/AC/'
agency = pd.read_csv(GTFS_filepath+'agency.txt')
calendar_dates = pd.read_csv(GTFS_filepath+'calendar_dates.txt')
calendar = pd.read_csv(GTFS_filepath+'calendar.txt')
routes = pd.read_csv(GTFS_filepath+'routes.txt')
shapes = pd.read_csv(GTFS_filepath+'shapes.txt')
stop_times = pd.read_csv(GTFS_filepath+'stop_times.txt')
stops = pd.read_csv(GTFS_filepath+'stops.txt')
trips = pd.read_csv(GTFS_filepath+'trips.txt')

In [5]:
#routes
print('add route...')
print('len -pre:', len(routes))
routes.drop(1)
routes.loc[1] = ['1T', '1T', 'Uptown Oakland\ San Leandro BART Southbound OWL',routes.loc[0,'route_desc'],3,routes.loc[0,'route_desc']] 
print('len -post:', len(routes))

add route...
len -pre: 156
len -post: 156

In [6]:
#shapes
print('add shapes...')
print('len -pre:', len(shapes))
i = len(shapes)
shape_id = 10000000
shape_ids = {}
for shape_id_real, shape_pt_lat, shape_pt_lon, shape_pt_sequence, shape_dist_traveled in zip(shapes_after['shape_id'],shapes_after['shape_pt_lat'],shapes_after['shape_pt_lon'],shapes_after['shape_pt_sequence'],shapes_after['shape_dist_traveled']):
    shape_ids[shape_id_real] =shape_id
    shapes.loc[i] = [shape_id, shape_pt_lat, shape_pt_lon, shape_pt_sequence]
    i +=1
    shape_id += 1
print('len -post:', len(shapes))

add shapes...
len -pre: 278843
len -post: 281528

In [7]:
#trips
print('add trips...')
print('len -pre:', len(trips))
i = len(trips)
trip_id = np.max(trips['trip_id'])+1
trip_ids = {}
for trip_id_real, service_id, direction_id, block_id, shape_id, trip_headsign in zip(trips_after['trip_id'],trips_after['service_id'],trips_after['direction_id'],trips_after['block_id'],trips_after['shape_id'],trips_after['trip_headsign']):
    trips.loc[i] = ['1T', service_id, trip_id, trip_headsign, direction_id, block_id, shape_ids[shape_id]]
    trip_ids[trip_id_real] = trip_id
    i +=1
    trip_id +=1
print('len -post:', len(trips))

add trips...
len -pre: 15227
len -post: 15875

In [8]:
#trips
print('remove trips...')
print('len -pre:', len(trips))
trips = trips[trips['route_id']!= '1-142']
print('len -post:', len(trips))

remove trips...
len -pre: 15875
len -post: 15201

In [9]:
#calendar
print('add calendar...')
print('len -pre:', len(calendar))
calendar.loc[67] = ['1',   '0', '0', '0', '0', '0', '0', '1', '20170101', '20171231']
calendar.loc[68] = ['2',   '1', '1', '1', '1', '1', '1', '0', '20170101', '20171231']
calendar.loc[69] = ['3',   '0', '0', '0', '0', '0', '1', '0', '20170101', '20171231']
calendar.loc[70] = ['1-1', '0', '0', '0', '0', '0', '1', '0', '20170101', '20171231']
calendar.loc[71] = ['2-1', '1', '1', '1', '1', '0', '0', '1', '20170101', '20171231']
calendar.loc[72] = ['3-1', '0', '0', '0', '0', '1', '0', '0', '20170101', '20171231']
print('len -post:', len(calendar))

add calendar...
len -pre: 67
len -post: 73

In [10]:
#calendar_dates
# print('add calendar_dates...')
# print('len -pre:', len(calendar_dates))
# calendar_dates.loc[2662] = ['1',   '20220704', '1']
# calendar_dates.loc[2663] = ['4',   '20220613', '1']
# calendar_dates.loc[2664] = ['4',   '20220614', '1']
# calendar_dates.loc[2665] = ['2',   '20220704', '2']
# calendar_dates.loc[2666] = ['1',   '20220703', '1']
# calendar_dates.loc[2667] = ['2',   '20220703', '2']
# print('len -post:', len(calendar_dates))

In [11]:
#stops
print('add stops...')
print('len -pre:', len(stops))
i = len(stops)
stop_id = 10000000
stop_ids = {}
for stop_id_real, stop_code, stop_name, stop_desc, stop_lat, stop_lon, zone_id, stop_url, location_type, parent_station in zip(stops_after['stop_id'],
            stops_after['stop_code'],
            stops_after['stop_name'],
            stops_after['stop_desc'],
            stops_after['stop_lat'],
            stops_after['stop_lon'],
            stops_after['zone_id'],
            stops_after['stop_url'],
            stops_after['location_type'],
            stops_after['parent_station']):
    stop_ids[stop_id_real] = stop_id
    stops.loc[i] = [stop_id, stop_code, stop_name, stop_desc, stop_lat, stop_lon, zone_id, stop_url, location_type, parent_station]
    i +=1
    stop_id += 1
print('len -post:', len(stops))

add stops...
len -pre: 5427
len -post: 5494

In [12]:
#stop times
print('add stop times...')
print('len -pre:', len(stop_times))
i = len(stop_times)
for trip_id, arrival_time, departure_time, stop_id, stop_sequence, pickup_type, drop_off_type in zip(stop_times_after['trip_id'],
            stop_times_after['arrival_time'],
            stop_times_after['departure_time'],
            stop_times_after['stop_id'],
            stop_times_after['stop_sequence'],
            stop_times_after['pickup_type'],
            stop_times_after['drop_off_type']):
    stop_times.loc[i] = [trip_ids[trip_id], arrival_time, departure_time, stop_ids[stop_id], stop_sequence, pickup_type, drop_off_type]
    i +=1
print('len -post:', len(stop_times))

add stop times...
len -pre: 668916
len -post: 690978

In [13]:
print('remove stop times...')
print('len -pre:', len(stop_times))
stop_times = stop_times[stop_times['trip_id'].isin(trips['trip_id'])]
print('len -post:', len(stop_times))

remove stop times...
len -pre: 690978
len -post: 656267

In [14]:
calendar_dates.to_csv(GTFS_filepath+'calendar_dates.txt',index=False)
calendar.to_csv(GTFS_filepath+'calendar.txt',index=False)
routes.to_csv(GTFS_filepath+'routes.txt',index=False)
shapes.to_csv(GTFS_filepath+'shapes.txt',index=False)
stop_times.to_csv(GTFS_filepath+'stop_times.txt',index=False)
stops.to_csv(GTFS_filepath+'stops.txt',index=False)
trips.to_csv(GTFS_filepath+'trips.txt',index=False)