# Calibration on SF-light scenario 
----------------------------------

In [17]:
import geopandas as gpd
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use('seaborn-paper')
import numpy as np
import pandas as pd
from pyproj import Transformer, CRS

import os
root_dir = "/Users/jiangxuan/Desktop/link_final/beam/test/input"
os.chdir(root_dir)
os.getcwd()

'/Users/jiangxuan/Desktop/link_final/beam/test/input'

## Trim ActivitySim data

In [5]:
# read ActivitySim Data
dat_dir = os.path.join(root_dir, "sfbay/gemini/activitysim-plans-base-2010")
plns = pd.read_csv(os.path.join(dat_dir, "plans.csv.gz")).sort_values(by='person_id')
plns.head(5)

,Unnamed: 0,trip_id,person_id,number_of_participants,trip_mode,PlanElementIndex,ActivityElement,ActivityType,x,y,departure_time
0,0,NaN,0.0,NaN,NaN,1,activity,Home,-122.226436,37.855050,11.718
1,1,73.0,0.0,1.0,SHARED2FREE,2,leg,NaN,NaN,NaN,NaN
2,1,NaN,0.0,NaN,NaN,3,activity,escort,-122.076462,37.691972,12.382
3,2,77.0,0.0,1.0,SHARED2PAY,4,leg,NaN,NaN,NaN,NaN
4,2,NaN,0.0,NaN,NaN,5,activity,Home,-122.226436,37.855050,NaN

In [29]:
taz = gpd.read_file(os.path.join(root_dir, 'sf-light/shape/sf-light-tazs.shp'))
# extract pid whose O & D are all in the region
acts = plns.loc[plns.ActivityElement=='activity', ['person_id', 'x', 'y']]
crs_4326, crs_26910 = CRS.from_epsg(4326), CRS.from_epsg(26910)
transformer = Transformer.from_crs(crs_4326, crs_26910)
new_x, new_y = transformer.transform(acts.y, acts.x)
acts.x = new_x
acts.y = new_y
acts = gpd.GeoDataFrame(acts, geometry=gpd.points_from_xy(acts.x, acts.y, crs='epsg:26910'))
join_acts = gpd.sjoin(taz, acts, how='inner')
pids = join_acts.person_id
trim_plns = plns[plns.person_id.isin(pids)].sort_values(by=['person_id','PlanElementIndex'])
if not os.path.isdir(os.path.join(root_dir, 'sf-light/activitysim')):
    os.mkdir(os.path.join(root_dir, 'sf-light/activitysim'))
trim_plns.to_csv(os.path.join(root_dir, 'sf-light/activitysim/plans.csv.gz'), sep=',', encoding='utf-8')

In [33]:
if not os.path.isdir(os.path.join(root_dir, 'sf-light/activitysim')):
    os.mkdir(os.path.join(root_dir, 'sf-light/activitysim'))
trim_plns.to_csv(os.path.join(root_dir, 'sf-light/activitysim/plans.csv.gz'), sep=',', encoding='utf-8')

In [37]:
pd.read_csv(os.path.join(root_dir, 'sf-light/activitysim/plans.csv.gz'))

,Unnamed: 0,Unnamed: 0.1,trip_id,person_id,number_of_participants,trip_mode,PlanElementIndex,ActivityElement,ActivityType,x,y,departure_time
0,50,28,1.846000e+03,5.0,1.0,WALK_LRF,6,leg,NaN,NaN,NaN,NaN
1,51,28,NaN,5.0,NaN,NaN,7,activity,Home,-122.226920,37.852605,NaN
2,49,27,NaN,5.0,NaN,NaN,5,activity,shopping,-122.707939,38.393379,16.948
3,47,26,NaN,5.0,NaN,NaN,3,activity,othdiscr,-122.437329,37.658743,16.568
4,46,26,1.841000e+03,5.0,1.0,WALK_HVY,2,leg,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
16503744,53229571,29622300,NaN,6741461.0,NaN,NaN,3,activity,othmaint,-122.408397,37.790166,10.072
16503745,53229570,29622300,2.211199e+09,6741461.0,1.0,WALK_LOC,2,leg,NaN,NaN,NaN,NaN
16503746,53229569,29622299,NaN,6741461.0,NaN,NaN,1,activity,Home,-123.061499,38.350591,9.295
16503747,53229576,29622303,2.211199e+09,6741461.0,1.0,TNC_SINGLE,8,leg,NaN,NaN,NaN,NaN
16503748,53229585,29622307,NaN,6741461.0,NaN,NaN,17,activity,Home,-123.061499,38.350591,NaN

,Unnamed: 0,trip_id,person_id,number_of_participants,trip_mode,PlanElementIndex,ActivityElement,ActivityType,x,y,departure_time
45,25,NaN,5.0,NaN,NaN,1,activity,Home,-122.226920,37.852605,16.226
46,26,1.841000e+03,5.0,1.0,WALK_HVY,2,leg,NaN,NaN,NaN,NaN
47,26,NaN,5.0,NaN,NaN,3,activity,othdiscr,-122.437329,37.658743,16.568
48,27,1.845000e+03,5.0,1.0,WALK_HVY,4,leg,NaN,NaN,NaN,NaN
49,27,NaN,5.0,NaN,NaN,5,activity,shopping,-122.707939,38.393379,16.948
...,...,...,...,...,...,...,...,...,...,...,...
53229581,29622305,NaN,6741461.0,NaN,NaN,13,activity,Home,-123.061499,38.350591,17.379
53229582,29622306,2.211199e+09,6741461.0,1.0,SHARED2PAY,14,leg,NaN,NaN,NaN,NaN
53229583,29622306,NaN,6741461.0,NaN,NaN,15,activity,escort,-122.400456,37.804547,18.534
53229584,29622307,2.211199e+09,6741461.0,1.0,SHARED2FREE,16,leg,NaN,NaN,NaN,NaN
53229585,29622307,NaN,6741461.0,NaN,NaN,17,activity,Home,-123.061499,38.350591,NaN

In [ ]:
trim_plns.sort_values(by=['person_id','PlanElementIndex'])